{
  "openapi": "3.0.1",
  "info": {
    "title": "TripVair - DEV",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "TripVair BackEnd API to TripVair Microservices Called by our Mobile"
    },
    {
      "name": "TripVair BackEnd API to TripVair Microservices Called by our Mobile/Predictor--Cancels"
    }
  ],
  "paths": {
    "/cancel": {
      "get": {
        "summary": "New Get Flight Cancel V1.1",
        "x-apidog-folder": "TripVair BackEnd API to TripVair Microservices Called by our Mobile/Predictor--Cancels",
        "x-apidog-status": "released",
        "deprecated": false,
        "description": "",
        "tags": [
          "TripVair BackEnd API to TripVair Microservices Called by our Mobile/Predictor--Cancels"
        ],
        "parameters": [
          {
            "name": "departdate",
            "in": "query",
            "description": "Departs 10/29/2023 at 11:45 PM local.",
            "required": false,
            "example": "10/29/2023 23:45:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Origin city code for departure",
            "required": false,
            "example": "\"MCO\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dest",
            "in": "query",
            "description": "Destination city code for departure",
            "required": false,
            "example": "\"JFK\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flightno",
            "in": "query",
            "description": "Flight Number",
            "required": false,
            "example": "1140",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "Scheduled airline by code ",
            "required": false,
            "example": "\"AA\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrivedate",
            "in": "query",
            "description": "Arrival date and time string ",
            "required": false,
            "example": "10/29/2023 23:45:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": false,
            "example": "text/csv",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Keep-Alive",
            "in": "header",
            "description": "",
            "required": false,
            "example": "120",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "x-apidog-ignore-properties": [],
                "x-apidog-orders": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NotLikelyToCancel",
            "content": {
              "application/json": {
                "schema": {
                  "title": "{\"statusCode\": 200, \"isBase64Encoded\": false, \"cancelLikely\": \"False\", \"probability\": 0.80483}",
                  "type": "undefined"
                },
                "examples": {
                  "1": {
                    "summary": "Success",
                    "value": {
                      "statusCode": 200,
                      "isBase64Encoded": false,
                      "cancelLikely": "False",
                      "probability": 0.80483
                    }
                  }
                }
              }
            }
          }
        },
        "x-run-in-apidog": "https://www.apidog.com/web/project/347663/apis/api-3713387-run"
      }
    }
  },
  "components": {
    "schemas": {}
  },
  "servers": [
    {
      "url": "https://infers.tripvair.link/flights/v1",
      "description": "Production Prediction"
    }
  ]
}