openapi: 3.0.0
info:
  title: TripVair Flight Cancel Predictor
  description: Obtain the probability a future flight will cancel
  version: 1.0.1
servers:
  - url: https://infers.tripvair.link/v1
paths:
  "/cancel":
    get:
      summary: Flight Cancel Predictor
      operationId: getCancels
      deprecated: false
      description: ''
      tags:
      - TripVair Flight Cancel Predictor Collection
      parameters:
      - name: departdate
        in: query
        description: Departs 6/23/2023.
        required: false
        example: 6/23/2023
        schema:
          type: string
      - name: origin
        in: query
        description: Origin city code for departure
        required: false
        example: '"MCO"'
        schema:
          type: string
      - name: dest
        in: query
        description: Destination city code for departure
        required: false
        example: '"JFK"'
        schema:
          type: string
      - name: flightno
        in: query
        description: Flight Number
        required: false
        example: '1140'
        schema:
          type: string
      - name: carrier
        in: query
        description: 'Scheduled airline by code '
        required: false
        example: '"AA"'
        schema:
          type: string
      - name: arrivedate
        in: query
        description: 'Arrival date string '
        required: false
        example: 10/29/2023
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: false
        example: application/json
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: false
        example: text/csv
        schema:
          type: string
      - name: Keep-Alive
        in: header
        description: ''
        required: false
        example: '120'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
              x-apidog-ignore-properties: []
              x-apidog-orders: []
      responses:
        '200':
          description: NotLikelyToCancel
          content:
            application/json:
              schema:
                title: '{"statusCode": 200, "isBase64Encoded": false, "cancelLikely":
                  "False", "probability": 0.80483}'
                type: undefined
              examples:
                '1':
                  summary: Success
                  value:
                    statusCode: 200
                    isBase64Encoded: false
                    cancelLikely: 'False'
                    probability: 0.80483
